<tr>
  <td><%= tweet.tweet %></td>
  <td class='text-center'><%= tweet.tweet_type %></td>
  <td class='text-center'><%= tweet.language %></td>
  <td class='text-center'><%= sprintf('%.2f', tweet.score) %></td>
</tr>
